{:kotoba.app/id "cloud.itonami.isic-5621", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibr4zn2ayskwuflx4qfnmwjigk7vtfauvlka2gncjmgnpo7pd5l24", :kotoba.app/embed-url "ipfs://bafkreibr4zn2ayskwuflx4qfnmwjigk7vtfauvlka2gncjmgnpo7pd5l24", :published {:archive "https://kotobase.net/ipfs/bafkreibr4zn2ayskwuflx4qfnmwjigk7vtfauvlka2gncjmgnpo7pd5l24", :size 73306, :put-status 201, :get-status 200, :at "2026-08-15T13:52:25.403Z"}}
